<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="false" name="Suite">
  <test thread-count="1" name="Submit Order Test">
    <classes>
      <class name="biz4group.tests.submitOrder"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="1" name="StandAlone Test">
    <classes>
      <class name="biz4group.tests.StandAlonTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="1" name="Error Validations Test">
    <classes>
      <class name="biz4group.tests.ErrorValidation"/>
    </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->